body {font-family: "Roboto", sans-serif;
    background-color: #FFF;
    color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;}



ul,
ol {
    margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
}

button {
    cursor: pointer;}

img {
        display: block;
            max-width: 100%;
        }
    
address {
        font-style: normal;
        }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {text-decoration: none;
color: currentColor;}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/*=============== HEADER =================*/

.header {
    border-bottom: 1px solid #e7e9fc
}

.header-div {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.web {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}

.studio {
    color: #2E2F42;
}


.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-list-item {
    display: block;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 24px 0;
}

.nav-list-item:hover,
.nav-list-item:focus {
    color: #404bbf
}

.contacts {
    margin-left: auto;
    font-style: normal;
}

.contacts-item {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.contacts-item-link:hover,
.contacts-item-link:focus {
    color: #404BBF;
}



 /*=========================================*/

 /*=============== SECTION1 =================*/

.main-section {background-color: #2E2F42;
    padding-bottom: 188px;
        padding-top: 188px;
}


.main-title {color: #FFF;
    background-color: #2E2F42;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px auto;
    
}

.order-button {color: #FFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    display: block;
cursor: pointer;
padding: 16px 32px; 
border: 0;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
margin: 0 auto;
min-width: 169px;
}

.order-button:hover, 
.order-button:focus {background-color: #404BBF;}

 /*=========================================*/

 /*=============== ABOUT US =================*/

 .about-us-section {padding: 120px 0;}
 
 .about-us-container {}

 .about-us-list {
    display: flex;
    gap: 24px;
 }

 .about-us-list-item {
    width: calc((100% - 72px) / 4);

 }

.about-us-subtitle {color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.4px;
margin-bottom: 8px;
padding-left: 0;}

.about-us-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;}

/*=========================================*/

 /*=============== OUR TEAM =================*/

.our-team-section {
    background-color: #F4F4FD;
padding: 120px 0}


.our-team-title {color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
        margin-bottom: 72px;
}

.our-team-list {display: flex;
gap: 24px;}

.our-team-list-item {background-color: #FFFFFF;
border-radius: 0px 0px 4px 4px;
width: calc((100% - 72px) / 4);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card {
    padding: 32px 0;
}

.our-team-names {color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.4px;
margin-bottom: 8px;}

.our-team-position {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/*=========================================*/

 /*=============== PORTFOLIO =================*/

.portfolio-section {padding: 120px 0;}

.our-portfolio {color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.our-portfolio-title {color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.4px;
margin-bottom: 8px;}

.our-portfolio-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/*=========================================*/

 /*=============== FOOTER =================*/

.footer-section {
    background-color: #2E2F42;
    padding: 100px 0;
}

.web-footer {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.studio-footer {
    color: #F4F4FD;
}

.footer-text {color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    max-width: 264px;
} 